/*

Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license

Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template

*/

/*

    Created on : 2021 Nov 17, 01:58:47

    Author     : Сергей

*/



.file-manager-actions {

    display: -ms-flexbox;

    display: flex;

    -ms-flex-wrap: wrap;

    flex-wrap: wrap;

    -ms-flex-pack: justify;

    justify-content: space-between;

}

.file-manager-actions>* {

    display: -ms-flexbox;

    display: flex;

    -ms-flex-wrap: wrap;

    flex-wrap: wrap;

}

.file-manager-container {

    display: -ms-flexbox;

    display: flex;

    -ms-flex-wrap: wrap;

    flex-wrap: wrap;

}

.file-item {

    position: relative;

    z-index: 1;

    -ms-flex: 0 0 auto;

    flex: 0 0 auto;

    border: 1px solid lightgray;

    cursor: pointer;
    border-radius: 5px;

}

.file-item:hover,

.file-item.focused {

    border-color: rgba(0, 0, 0, 0.05);
    background-color: lightblue;

}

.file-item.focused {

    z-index: 2;

}


/* начало доработок CSS*/


.file-item a {

    text-decoration: none;

    color: black;

}

.file-item-img {
    border-radius: 5px;
    opacity: 0.65;
    filter: alpha(opacity=65);
}

.file-item-img:hover {
    border-radius: 5px;
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.file-item a:hover {

    text-decoration: underline;

    color: black;

}


.file-item a:visited {

    text-decoration: none;

    color: black;

}


.file-item .dropdown-menu {

    min-width: 103px;

}



.file-item .file-item-dropdown-menu {

    font-size: 13px;

    margin-left: 10px
}


.file-item-actions .btn {

    opacity: 0.7;

}


.content-header-wrapper {
    position: relative;
    margin-bottom: 0px;
}

.content-header-wrapper .actions {
    position: absolute;
    right: 0;
    top: 0;
}


.title {
    margin-bottom: 15px;
    margin-top: 0;
    /*font-size: 22px;*/
}


.content-utilities {
    position: relative;
    margin-bottom: 25px;
}

.content-header-wrapper-margin-bottom {
    position: relative;
    padding-bottom: 50px;
}

.actions .page-nav {
    position: absolute;
    right: 0;
    top: 40px;
    min-width: 360px;
}

.search-block {
    margin-bottom: 5px;
    border: 1px;
    border-color: darkgray darkgray;
    /* Цвет границы */
    border-style: solid;
    /* Стиль границы */
    border-radius: 4px;
    background-color: lightgray;
}

.search-block h3 {
    padding-top: 10px;
}


.table-responsive tbody tr:hover {
    /*color: #fff; /* Цвет текста */
    background: lightblue;
    /* Цвет фона */
}

.tregrid-col-with-edit {
    width: 235px;
    display: inline-block;
    white-space: nowrap;
    /* Запрещаем перенос строк */
    overflow: hidden;
    /* Обрезаем все, что не помещается в область */
    /*background: #fc0; /* Цвет фона */
    /*padding: 5px; /* Поля вокруг текста */
    text-overflow: ellipsis;
    /* Добавляем многоточие */
}

.file-item-img-no {

    display: block;

    margin: 0 auto 0.75rem auto;

    width: 4rem;

    height: 2rem;

    font-size: 2.5rem;

    line-height: 4rem;

}




/*

#drop-label{
        position: relative;
        display: inline-block;
}

#drop-label:hover:after {
content: attr(data-name);
position: absolute;
left: 0;
bottom: 0;
background: rgba(5,13,156,.55);
color: #fff;
text-align: center;
font-family: cursive;
font-size: 14px;
padding: 3px 0;
width: 100%;
}*/




/* конец доработок CSS*/

.file-item * {

    -ms-flex-negative: 0;

    flex-shrink: 0;

    text-decoration: none;

    word-wrap: break-word;
    /* Перенос слов */

    font-size: 13px;

}

.dark-style .file-item:hover,

.dark-style .file-item.focused {

    border-color: rgba(255, 255, 255, 0.2);

}

.file-item-checkbox {

    margin: 0 !important;

}

.file-item-select-bg {

    position: absolute;

    top: 0;

    right: 0;

    bottom: 0;

    left: 0;

    z-index: -1;

    opacity: 0;

}

.file-item-img {

    background-color: transparent;

    background-position: center center;

    background-size: cover;

}

.file-item-name {

    display: block;

    overflow: hidden;

    padding: 5px;

}

.file-manager-col-view .file-item {

    margin: 0 0.25rem 0.25rem 0;

    padding: 1rem 0 1rem 0;

    width: 12.25rem;

    text-align: center;

}

[dir="rtl"] .file-manager-col-view .file-item {

    margin-right: 0;

    margin-left: 0.25rem;

}

.file-manager-col-view .file-item-img,

.file-manager-col-view .file-item-icon {

    display: block;

    margin: 0 auto 0.75rem auto;

    width: 4rem;

    height: 4rem;

    font-size: 2.5rem;

    line-height: 4rem;

}

.file-manager-col-view .file-item-level-up {

    font-size: 1.5rem;

}

.file-manager-col-view .file-item-checkbox,

.file-manager-col-view .file-item-actions {

    position: absolute;

    top: 6px;

}

.file-manager-col-view .file-item-checkbox {

    left: 6px;

}

[dir="rtl"] .file-manager-col-view .file-item-checkbox {

    right: 6px;

    left: auto;

}

.file-manager-col-view .file-item-actions {

    right: 6px;

}

[dir="rtl"] .file-manager-col-view .file-item-actions {

    right: auto;

    left: 6px;

}

.file-manager-col-view .file-item-name {

    width: 100%;

}

.file-manager-col-view .file-manager-row-header,

.file-manager-col-view .file-item-changed {

    display: none;

}

.file-manager-row-view .file-manager-row-header,

.file-manager-row-view .file-item {

    display: -ms-flexbox;

    display: flex;

    -ms-flex-align: center;

    align-items: center;

    margin: 0 0 0.125rem 0;

    padding: 0.25rem 3rem 0.25rem 2.25em;

    width: 100%;

}

[dir="rtl"] .file-manager-row-view .file-manager-row-header,

[dir="rtl"] .file-manager-row-view .file-item {

    padding-right: 2.25em;

    padding-left: 3rem;

}

.file-manager-row-view .file-item-img,

.file-manager-row-view .file-item-icon {

    display: block;

    margin: 0 1rem;

    width: 2rem;

    height: 2rem;

    text-align: center;

    font-size: 1.25rem;

    line-height: 2rem;

}

.file-manager-row-view .file-item-level-up {

    font-size: 1rem;

}

.file-manager-row-view .file-item-checkbox,

.file-manager-row-view .file-item-actions {

    position: absolute;

    top: 50%;

    -webkit-transform: translateY(-50%);

    transform: translateY(-50%);

}

.file-manager-row-view .file-item-checkbox {

    left: 10px;

}

[dir="rtl"] .file-manager-row-view .file-item-checkbox {

    right: 10px;

    left: auto;

}

.file-manager-row-view .file-item-actions {

    right: 10px;

}

[dir="rtl"] .file-manager-row-view .file-item-actions {

    right: auto;

    left: 10px;

}

.file-manager-row-view .file-item-changed {

    display: none;

    margin-left: auto;

    width: 10rem;

}

[dir="rtl"] .file-manager-row-view .file-item-changed {

    margin-right: auto;

    margin-left: 0;

}

.file-manager-row-view .file-item-name {

    width: calc(100% - 4rem);

}

.file-manager-row-view .file-manager-row-header {

    border-bottom: 2px solid rgba(0, 0, 0, 0.05);

    font-weight: bold;

}

.file-manager-row-view .file-manager-row-header .file-item-name {

    margin-left: 4rem;

}

[dir="rtl"] .file-manager-row-view .file-manager-row-header .file-item-name {

    margin-right: 4rem;

    margin-left: 0;

}

.light-style .file-item-name {

    color: #4e5155 !important;

}

.light-style .file-item.selected .file-item-select-bg {

    opacity: 0.15;

}

@media (min-width: 768px) {

    .light-style .file-manager-row-view .file-item-changed {

        display: block;

    }

    .light-style .file-manager-row-view .file-item-name {

        width: calc(100% - 15rem);

    }

}

@media (min-width: 992px) {

    .light-style .file-manager-col-view .file-item-checkbox,

    .light-style .file-manager-col-view .file-item-actions {

        opacity: 0;

    }

    .light-style .file-manager-col-view .file-item:hover .file-item-checkbox,

    .light-style .file-manager-col-view .file-item.focused .file-item-checkbox,

    .light-style .file-manager-col-view .file-item.selected .file-item-checkbox,

    .light-style .file-manager-col-view .file-item:hover .file-item-actions,

    .light-style .file-manager-col-view .file-item.focused .file-item-actions,

    .light-style .file-manager-col-view .file-item.selected .file-item-actions {

        opacity: 1;

    }

}

.material-style .file-item-name {

    color: #4e5155 !important;

}

.material-style .file-item.selected .file-item-select-bg {

    opacity: 0.15;

}

@media (min-width: 768px) {

    .material-style .file-manager-row-view .file-item-changed {

        display: block;

    }

    .material-style .file-manager-row-view .file-item-name {

        width: calc(100% - 15rem);

    }

}

@media (min-width: 992px) {

    .material-style .file-manager-col-view .file-item-checkbox,

    .material-style .file-manager-col-view .file-item-actions {

        opacity: 0;

    }

    .material-style .file-manager-col-view .file-item:hover .file-item-checkbox,

    .material-style .file-manager-col-view .file-item.focused .file-item-checkbox,

    .material-style .file-manager-col-view .file-item.selected .file-item-checkbox,

    .material-style .file-manager-col-view .file-item:hover .file-item-actions,

    .material-style .file-manager-col-view .file-item.focused .file-item-actions,

    .material-style .file-manager-col-view .file-item.selected .file-item-actions {

        opacity: 1;

    }

}

.dark-style .file-item-name {

    color: #fff !important;

}

.dark-style .file-item.selected .file-item-select-bg {

    opacity: 0.15;

}

@media (min-width: 768px) {

    .dark-style .file-manager-row-view .file-item-changed {

        display: block;

    }

    .dark-style .file-manager-row-view .file-item-name {

        width: calc(100% - 15rem);

    }

}

@media (min-width: 992px) {

    .dark-style .file-manager-col-view .file-item-checkbox,

    .dark-style .file-manager-col-view .file-item-actions {

        opacity: 0;

    }

    .dark-style .file-manager-col-view .file-item:hover .file-item-checkbox,

    .dark-style .file-manager-col-view .file-item.focused .file-item-checkbox,

    .dark-style .file-manager-col-view .file-item.selected .file-item-checkbox,

    .dark-style .file-manager-col-view .file-item:hover .file-item-actions,

    .dark-style .file-manager-col-view .file-item.focused .file-item-actions,

    .dark-style .file-manager-col-view .file-item.selected .file-item-actions {

        opacity: 1;

    }

}
